<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
      <link rel="icon" href="../static/images/coding-arena-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - CodeArena </title>
   </head>

  <!-- Loading Activation -->
  <link href="../static/styles/loading.css" rel="stylesheet">
  <div class="loading-overlay"></div>
  <script src="../static/scripts/loading.js" ></script>

  <body>
    <section>
      <nav>
          <img onclick="location.href = '/'; activateLoadingScreen(null)" class="navbar-logo" src="../static/images/coding-arena-logo.png" alt="athleats-logo">

            {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="toggle_popup('login-form-container')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="toggle_popup('signup-form-container')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
            {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

            {% endif %}


      </nav>

      <div class="home-content">
          <div id="signup-form-container" class="form-container">
            <div class="popup-form">
                <i onclick="toggle_popup('signup-form-container')" class='bx bx-x'></i>
                <div class="form-header">
                <h3>CodeArena SIGNUP</h3>
                <p>Please enter details to signup.</p>
              </div>
                <form onsubmit="activateLoadingScreen('submit-signup-button')" name="signup" action="/signup" method="post">
                    <label>
                        <input required type="text" name="email" placeholder="email">
                    </label>
                    <label>
                        <input required type="text" name="username" placeholder="username">
                    </label>
                    <label>
                        <input required type="password" name="pass" placeholder="password">
                    </label>
                    <label for="tos"></label><select required class="form-selection" name="tos" id="tos">
                        <option class="form-selection-placeholder" value="" disabled selected>terms of service</option>
                        <option value="agree">agree</option>
                      </select>
                    <p style="display: none;" class="error-occurrence" id="signup-error">{{ signup_error }}</p>
                    <button id="submit-signup-button" type="submit" value="SIGNUP">SIGNUP</button>
                    <p class="message">Already have an account?
                            <a onclick="toggle_popup('signup-form-container'); toggle_popup('login-form-container');">Login here</a>
                          </p>
                    <a class="tos-agree-link" target="_blank" rel="noopener noreferrer" href="/terms-of-service">terms of service.</a>
                </form>
            </div>
          </div>
          <div id="login-form-container" class="form-container">
              <div class="popup-form">
                  <i onclick="toggle_popup('login-form-container')" class='bx bx-x'></i>
                  <div class="form-header">
                    <h3>CodeArena LOGIN</h3>
                    <p>Please enter credentials to login.</p>
                    </div>
                  <form onsubmit="activateLoadingScreen('submit-login-button')" name="login" action="/login" method="post">
                      <label>
                          <input required type="text" name="email" placeholder="email">
                      </label>
                      <label>
                          <input required type="password" name="pass" placeholder="password">
                      </label>
                      <p style="display: none;" class="error-occurrence" id="login-error">{{ login_error }}</p>
                      <button id="submit-login-button" type="submit" value="LOGIN" >LOGIN</button>
                      <p class="message">Not registered?
                        <a onclick="toggle_popup('login-form-container'); toggle_popup('signup-form-container')">Create an account</a>
                      </p>
                  </form>
              </div>
          </div>


          <div class="home-header">
              {% if user %}
                <form onsubmit="activateLoadingScreen('reserve-pickup-button')" method="post" action="/create-lobby">
                      <button id="reserve-pickup-button" class="reserve-pickup-button">
                          <span class="front">
                            start battling
                          </span>
                      </button>
                  </form>
              {% else %}
                <div onclick="toggle_popup('signup-form-container')" >
                      <button id="reserve-pickup-button" class="reserve-pickup-button" >
                          <span class="front">
                            start battling
                          </span>
                      </button>
                </div>
              {% endif %}
          </div>

          <div class="home-widgets">


          </div>
      </div>
    </section>
  </body>

  <!-- Popup Forms -->
  <script>
      function toggle_popup(id) {
          document.getElementById(id).classList.toggle("revealed")
      }
  </script>

  <!-- Reveal signup/login error messages -->
  <script>
      // Add query collector. Optimize this.
      let login_error = "{{ login_error }}"
      let signup_error = "{{ signup_error }}"

      if (login_error !== "None") {
          document.getElementById("login-error").style.display = "block"
          document.getElementById("guest-welcome-message").style.display = "none";
          toggle_popup("login-form-container");
      } else if (signup_error !== "None") {
          document.getElementById("signup-error").style.display = "block";
          document.getElementById("guest-welcome-message").style.display = "none";
          toggle_popup("signup-form-container");
      }
  </script>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

</html>
