<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/waiting_room.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
      <link rel="icon" href="../static/images/coding-arena-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lobby - CodeArena </title>
   </head>

  <!-- Loading Activation -->
  <link href="../static/styles/loading.css" rel="stylesheet">
  <div class="loading-overlay"></div>
  <script src="../static/scripts/loading.js" ></script>
  <script src="../static/scripts/lobby.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            console.log("User connected.");
            socket.emit('lobby-user-connected', {room_code: "{{room_code}}", username: "{{user.username}}"});
        });

        socket.on("lobby-update", function(player) {
            console.log("Updating lobby...")
            console.log("New player: " + player)
            console.log("Updating player list...")
            create_user_card(player.username, player.pfp, player.level, player.admin)
        });

        window.onbeforeunload = function () {
            console.log("User has disconnected!")
            socket.emit("lobby-user-disconnected", {room_code: "{{ room_code }}", username: "{{ user.username }}"})
        };
    </script>

  <body>
    <section>
        <nav>
          <img onclick="location.href = '/'; activateLoadingScreen(null)" class="navbar-logo" src="../static/images/coding-arena-logo.png" alt="CodeArena-logo">

            {% if not user %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>
                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>
            {% endif %}

      </nav>

        <div class="content">
          <h1>benastahl, welcome to the lobby!</h1>

        <form class="lobby-section" method="post" id="start-game" action="/start-game">
            <div class="lobby-container">
                {% if admin %}
                <div class="controls">
                    <h2 class="controls-main-header">Lobby Controls</h2>
                    <h3 class="control-header">Game Mode</h3>
                    <div class="game-mode-select game-option-container">
                        <input onclick="selectGameOption(this, 'game-mode-select')" name="DUEL"         value="DUEL"        type="button" class="game-option game-mode selected">
                        <input onclick="selectGameOption(this, 'game-mode-select')" name="TEAM BATTLE"  value="TEAM BATTLE" type="button" class="game-option game-mode">
                        <input onclick="selectGameOption(this, 'game-mode-select')" name="BATTLE"       value="BATTLE"      type="button" class="game-option game-mode">
                        <input type="hidden" id="game-mode-select" name="game-mode" value="DUEL">
                    </div>
                    <h3 class="control-header">Difficulty</h3>
                    <div class="game-difficulty-select game-option-container">
                        <input onclick="selectGameOption(this, 'game-difficulty-select')" name="EASY"   value="EASY"    type="button" id="easy-difficulty"     class="game-option game-mode selected">
                        <input onclick="selectGameOption(this, 'game-difficulty-select')" name="MEDIUM" value="MEDIUM"  type="button" id="medium-difficulty" class="game-option game-mode">
                        <input onclick="selectGameOption(this, 'game-difficulty-select')" name="HARD"   value="HARD"    type="button" id="hard-difficulty"     class="game-option game-mode">
                        <input type="hidden" id="game-difficulty-select" name="game-difficulty" value="EASY">
                    </div>
                    <h3 class="control-header">Language(s)</h3>
                    <div class="game-language-select game-option-container">
                        <input onclick="selectGameOption(this, 'game-language-select')" name="PYTHON3"    value="PYTHON3"    type="button" id="python-language"     class="game-option game-language selected">
                        <input onclick="selectGameOption(this, 'game-language-select')" name="JAVA"       value="JAVA"       type="button" id="java-language"       class="game-option game-language">
                        <input onclick="selectGameOption(this, 'game-language-select')" name="JAVASCRIPT" value="JAVASCRIPT" type="button" id="javascript-language" class="game-option game-language">
                        <input onclick="selectGameOption(this, 'game-language-select')" name="C++"        value="C++"        type="button" id="c++-language"        class="game-option game-language">
                        <input type="hidden" id="game-language-select" name="game-language" value="PYTHON3">
                    </div>
                </div>
                {% endif %}
                <div class="lobby">
                    <h2 class="controls-main-header">Lobby (2 players)</h2>
                    <div class="player-container">
                    </div>
                </div>
            </div>
        </form>
      </div>
        <button class="game-option start-game-button" form="start-game" type="submit">Start Game</button>

    </section>

    <script id="selectGameMode">
      function selectGameOption (selectedOption, option_type_class) {
          let elemGameOptionsContainer = document.querySelector("." + option_type_class);
          let elemGameOptions = document.querySelectorAll("." + option_type_class + " input");
          let multOption = elemGameOptionsContainer.classList.contains("mult");
          let selectCount = 1
          console.log(option_type_class)
          // Deselects all
          for (let i = 0; i < elemGameOptions.length; i++) {
              let elemGameOption = elemGameOptions[i];
              if (elemGameOption.classList.contains("selected") && !multOption) {
                  elemGameOption.classList.toggle("selected");

              }
          }

          console.log("selectCount: " + selectCount)

          // Selects one selected
          if (!selectedOption.classList.contains("selected") || multOption){
              selectedOption.classList.toggle("selected");
              document.getElementById(option_type_class).value = selectedOption.name;
          }

      }
  </script>

  </body>
</html>
