<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/lobby.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="icon" href="../static/images/coding-arena-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
          window.addEventListener("beforeunload", function (ev) {
            console.log("User has disconnected!");
            socket.emit('disconnected', {room_code: "{{ room_code }}", username: "{{ user.username }}"});
        })
      </script>
    <title> Lobby - LeetArena </title>



  </head>

  <!-- Loading Activation -->
  <link href="../static/styles/loading.css" rel="stylesheet">
  <div class="loading-overlay"></div>
  <script src="../static/scripts/loading.js" ></script>

  <body>
    <section>
        <nav>
          <img onclick="location.href = '/'; activateLoadingScreen(null)" class="navbar-logo" src="../static/images/coding-arena-logo.png" alt="LeetArena-logo">

            {% if not user %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>
                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>
            {% endif %}
            <div class="game-code-header">{{room_code}}</div>
            {% if admin %}
            <button class="game-option leave-button" onclick="leave_game()">Close Lobby</button>
            {% else %}
            <button class="game-option leave-button" onclick="leave_game()">Leave Game</button>
            {% endif %}

      </nav>

        <div class="content">
            <h1>{{user.username}}, welcome to the lobby!</h1>

            <div class="lobby-section" id="start-game">
                <div class="lobby-container">
                {% if admin %}

                {% else %}
                <style>
                    .lobby-container {
                        justify-content: center;
                    }
                </style>
                {% endif %}
                <div class="lobby">
                    <h2 id="player-count-header" class="controls-main-header">Lobby (- players)</h2>
                    <div class="player-container">
                        {% for player in players %}
                        <div id="{{player}}" class="player-card-container">
                            <div class="player-card">
                                <div class="left side">
                                    <img src="https://c4.wallpaperflare.com/wallpaper/273/268/863/appa-avatar-the-last-airbender-glasses-wallpaper-thumb.jpg" class="player-picture" alt="benastahl pfp">
                                    <div class="player-name">{{player}}</div>
                                </div>
                                <div class="right side">
                                    <div class="player-level">13</div>
                                </div>
                            </div>
                            {% if player == room.admin %}
                                <i class='bx bxs-user-badge player-role'></i>
                            {% else %}
                                <i class='bx bxs-user-rectangle player-role'></i>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            </div>
        </div>
        {% if admin %}
        <button type="button" onclick="start_game()" class="game-option start-game-button">Start Game</button>
        {% endif %}
    </section>

    <!-- Utilities -->
    <script src="../static/scripts/lobby.js" ></script>

    <!-- Local Utils -->
    <script>
        let start_game = function () {
            // Make sure user making request is admin
            if ("{{admin}}" !== "True") {
                return;
            }

            // if (playerCount <= 1) {
            //     alert("You must have more than one player to start the game.");
            //     return;
            // }


            console.log("Starting game...")
            // Send start game signal
            socket.emit('start-game',
                {
                    auth: window.getCookie('auth_token'),
                    room_code: '{{room_code}}',
                });

        }

        let leave_game = function () {
            if ("{{admin}}" !== "None" && !confirm("Are you sure you want to close the lobby?")) {
                return
            }
            console.log("Leaving the game...");
            socket.emit('leave', {'username': '{{user.username}}', 'room': '{{room_code}}'});
            location.href = "/";
        };

    </script>

    <!-- Sockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script id="socket-handler" type="text/javascript" charset="utf-8">
        // LOBBY SOCKETS
        let socket = io();
        let playerCount = {{players | length}};
        update_player_count();

        socket.on("connect", function () {
            console.log("Client connected.")
            socket.emit("join", {"username": "{{user.username}}", "room": "{{room_code}}"})
        });

        socket.on("user-joined", function (player) {
            console.log(player.username, "joined the game.")
            playerCount++;
            update_player_count()
            create_user_card(player.username, player.pfp, player.level, player.admin)
        });

        socket.on("user-left", function (player) {
            console.log(player.username + " left the game.")
            playerCount--;
            update_player_count()
            remove_player_card(player.username);
        });

        socket.on("room-closed", function () {
            window.location.href = "/?error=The room has been closed.";
        });

        socket.on("game-started", function () {
            // Reload page to render game
            location.reload()
        });

    </script>
  </body>
</html>
