.challenge-container {
    padding-top: 110px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%
}
.challenge-container #question {
    padding: 5px 20px 10px 20px;

    width: 500px;
    height: 600px;

    color: #f4f4f4;
    background: rgba(49, 49, 49, 0.8);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

    overflow: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}
#question header {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;

    font-size: 20px;
    border-bottom: 2px solid #f4f4f4;
}
#question code {

    padding: 3px;

    border-radius: 5px;

    background: rgba(0, 0, 0, 0.5);
}
#question ul {
    list-style-type: none;
    padding: 5px;
}
#question pre {
    margin-bottom: 7px;
    padding: 7px;

    width: fit-content;
    border-radius: 5px;

    background: rgba(0, 0, 0, 0.5);
}
.challenge-container #editor {
    padding: 5px;
    width: 700px;
    height: 600px;

    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);;

}
.editor-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sol-test-container {
    display: none;


    width: 100%;
    height: 100%;
}
.sol-test {
    display: none;
    padding: 5px 20px 10px 20px;

    width: 500px;
    height: 600px;

    color: #f4f4f4;
    background: rgba(49, 49, 49, 0.8);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

    overflow: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.game-option {
    padding: 10px;
    margin: 5px;

    border-radius: 15px;

    color: #313131;
    background: #f4f4f4;
    border: 2px solid #313131;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
}
.game-option.start-game-button {
    position: fixed;
    bottom: 10px;
    left: 42%;

    width: 15%;

    background: rgba(244, 244, 244, 0.8);
}
.game-option.start-game-button:hover {
    transform: scale(1.1);
}
