body {
  font-family: 'Poppins', sans-serif;
}
.home-header {
    background-image: url("../images/coding-arena-home-banner.jpeg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.form-container {
  position: absolute;
  width: 100%;
  display: none;
}
.popup-form {
  display: flex;
  flex-direction: column;
  width: 400px;
    z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 120px auto;
  padding: 20px 30px 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* FORMS */
.popup-form .bx-x  {
  position: absolute;
  margin-left: 280px;
  font-size: 30px;
  cursor: pointer;

}
.form-header {
  padding-bottom: 15px;
}
.form-header h3 {
  text-align: center;
  font-size: 30px;
  margin: 5px 15px 15px 22px;
  border-bottom: 1px solid lightgray;
  padding: 0 0 15px 0;
}
.popup-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 5px 0 5px 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
}
.popup-form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 5px 0 5px 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
}
.popup-form button {
  pointer-events: auto;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #43a0f2;
  width: 50%;
  border: 0;
  border-radius: 50px;
  font-weight: bold;
  padding: 15px;
  margin: 10px 0 10px 0;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.popup-form .delete-account-button {
  background-color: red;
  min-width: 150px;
}
.popup-form .message {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 0;
}
.popup-form .error-occurrence {
  margin: 5px 5px 10px;
  color: red;
  font-size: 12px;
}
.popup-form a {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.tos-agree-link {
  font-size: 10px;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
.form-selection {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  color: black;
}
.form-selection .form-selection-placeholder {
  color: #777777;
}

.input-form {
  margin: 10px 40px 10px 40px;
}

.access-buttons-section {
  padding: 10px;
  opacity: 100%;
}
.access-button, .reserve-pickup-button {
  margin: 10px;
  pointer-events: auto;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: #EC625F;
  border-radius: 50px;
  font-weight: bold;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  outline-offset: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.access-button {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}
.reserve-pickup-button {
    background: hsl(340deg 89% 32%);
    border-radius: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
.reserve-pickup-button .front {
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 12px 42px;
  border-radius: 50px;
  font-size: 40px;
  background: #EC625F;
  color: white;
  transform: translateY(-6px);
}
.reserve-pickup-button:active .front {
  transform: translateY(-2px);
}


/* error popup */
.error-popup-container {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 175px;

  width: 100%
}
.error-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;

  width: 350px;
  height: 280px;

  border-radius: 15px;
  background: #f4f4f4;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.error-popup i.bx-x {
  position: relative;
  right: 153px;

  font-size: 30px;

  cursor: pointer;
}
.error-popup i.bxs-error-circle {
  font-size: 85px;
  color:#c72020;
}
.error-popup h2 {
  padding: 2px 6px;
  border-radius: 5px;
  background: rgb(231, 231, 231);
  margin-bottom: 25px;
}
.error-popup-message {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  text-align: center;

  width: fit-content;
  max-width: 100%;

  background: rgb(231, 231, 231);

  overflow: auto;
}

@media screen and (max-width: 650px) {
  .welcome-message {
    margin-top: 20px;
    font-size: 30px;
  }
  #guest-welcome-message {
    margin-top: 30px;
    font-size: 25px;
  }

  .popular-restaurants {
    width: 350px;
  }
  .reserve-pickup-button .front {
    font-size: 30px;
  }
  .popular-restaurants .restaurant-list {
    flex-direction: column;
  }
  .popular-restaurants img {
    width: auto;
    height: auto;
  }
  .popular-restaurants .restaurant-visual {
    width: 310px;
  }
  .popular-restaurants .restaurant-list {
    flex-direction: column;
  }

  .process-step .process-info {
    width: 250px;
    left: 120px;
  }

  .process-visual-container {
    top: 2650px;
    left: 0;
  }
  .process-visual {
    padding: 0;
  }
  .name-plate {
    display: none;
  }
  .athleats-photos-container img {
    width: 350px;
  }

  .photo .photo-caption {
    top: 25px;
    left: 70px;
  }
  .photo .photo-caption, .photo .photo-name {
    padding: 10px;
    font-size: 15px;
  }

  .home-widgets {
    padding: 20px;
  }

}


.revealed {
  display: flex!important;
  transition: ease-in-out;
}
