/* NAV */
section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  background: rgba(65, 65, 65, 0.9);
}

.navbar-title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  background: hsl(360, 89%, 61%);
  border-radius: 15px;
  /*border-radius: 2px 15px 15px 2px;*/
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  user-select: none;
  margin-left: 80px;
}

/* * LOGO * */
section nav .navbar-logo {
  height: 100px;
  cursor: pointer;

}

/* * PROFILE * */
.profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  padding: 10px 5px;
  border-radius: 25px;

  border: 2px solid black;
  background: #EC625F;

  cursor: pointer;

}
.profile-button .bx {
  margin-right: 10px;
  font-size: 35px;
}
.profile-button .username {
  font-weight: 500;
}
